src
tests
docs
.storybook
storybook-static
.changeset
.github
.husky
.vscode
node_modules
coverage
*.log
*.test.*
*.stories.*
*.config.ts
*.config.js
!tailwind.preset.cjs
tsconfig*.json
eslint.config.js
.prettierrc
.gitignore
.editorconfig
vitest.config.ts
postcss.config.js
ARCHITECTURE.md
CONTRIBUTING.md
